
<br/>
 <div class="layout-footer">
    <div class="footer-bottom">
        <div class="social-links">
            <a href="https://www.linkedin.com/company/ubci/posts/?feedView=all" target="_blank">
                <img src="assets/layout/images/linkedin.png" alt="LinkedIn" height="50"/>
            </a>
            <a href="https://www.facebook.com/UBCI.Tunisie" target="_blank">
                <img src="assets/layout/images/facebook.png" alt="Facebook" height="50"/>
            </a>
            <a href="https://www.instagram.com/ubcitunisia/" target="_blank">
                <img src="assets/layout/images/instagram.png" alt="Instagram" height="50"/>
            </a>
        </div>

        <div class="google-play">
            <a href="https://play.google.com/store/apps/details?id=com.ubci.obdx&hl=fr" target="_blank" style="color: #666;">
                Trade on <img src="assets/layout/images/google_play.png" alt="Google Play" height="50" width="110"/>
            </a>
        </div>
    </div>

</div>
<div class="layout-footer">
    <div class="footer-top">
        <img src="assets/layout/images/ubci.png" alt="Logo" height="10" width="50" />
        <span>©2025 ubci.tn By Zayneb_Akermi</span>
    </div>
</div>
<style>
.layout-footer {
    background-color: #E0E2E8;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    color: #666;
}

.footer-top {   
    width: 80%;
    text-align: center;
    margin-bottom: 10px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.social-links {
    display: flex;
    gap: 10px;
}

.google-play a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
</style>
