html, body {
  background: white;
  color: black;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.report-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

  .content-wrapper {
    margin: 0;
    padding: 0;
  }
.event-table-gray thead {
  background-color: #c0c0c0 !important;
  color: black !important;
}
.event-wrapper {
  width: 80%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #28a745;
}


.event-wrapper{
  width: 100%;
}
.production-wrapper {
  width: 30%;
}


.logo-container .logo {
  width: 40px;
  height: auto;
}

.title-container {
  flex-grow: 1;
  text-align: center;
}

.department {
  font-weight: bold;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1rem;
}

th, td {
  border: 1px solid black;
  padding: 10px 15px;
  text-align: left;
}

thead tr {
  background-color: #c0c0c0;
  color: black;
}

.table-spacing {
  margin-bottom: 30px;

}

.d-flex {
  display: flex;
  justify-content: space-between;
  gap:20px;
}

.gap-4 {
  gap: 1rem;
}

.custom-table {
  width: 80%;
}

@media print {

  app-topbar, app-menu, .no-print {
    display: none !important;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: white;
  }
  
  .report-container {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
  
  table {
    width: 100% !important;
    page-break-inside: auto;
  }
  
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
}
.production-wrapper .mise-en-prod-table {
  align-self: flex-start;
  width: 160%;
  margin-left: -104px;
}

.date-selector-container {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #dee2e6;
}
.text-center {
  text-align: center;
}

.fw-bold {
  font-weight: bold;
}

.mt-4 {
  margin-top: 1.5rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}


